.container-footer{
    background-color: #f5ebd3;
    height: auto;
    border-top: 5px solid;
    border-color: rgb(27, 24, 24);
}

.column-1{
    width: 40%;
}

.column_1_content{
    margin-left: 70px;
    font-size: 20px;
    padding-top: 20px;
    text-align: left;
    color: rgb(182, 182, 182);
}

.column-2{
    width: 30%;
}

.column_2_content {
    font-size: 20px;
    padding-top: 20px;
    display: block;
}

.column_2_content a{
    padding-bottom: 10px;
    margin-left: 110px;
    text-align: left;
    color: rgb(182, 182, 182);
    display: block;
}

.column-3{
    width: 30%;
}

.footer_icon{
    padding-top: 15px;
    color: black;
}

.container_column{
    padding: 10px;
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
}

hr{
    width: 90%;
}

.copy_right_content{
    text-align: left;
    margin-left: 75px;
    font-size: 20px;
    color: rgb(182, 182, 182);
}

.copy_right_content a{
    font-size: 25px;
    color: white;
}

@media (max-width: 1023px){
    .container_column{
      display: block;
  }
}