.skill_container{
    width: 100%;
    height: 90rem;
}

.title_skill{
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
   
}

.container_top{
    width: 100%;
}

.title_skill>h1{
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
}

.my_skill img{
    width: 8rem;
    height: 8rem;
    animation-delay: 5s;
}

.skill_row{
    justify-content: center;
    align-items: center;
}

.my_skill{
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    margin: 4%;
    cursor: pointer;


    .name_skill{
        font-size: 20px;
    }
}

.my_skill:hover{
    background-color:  rgb(10, 26, 10);
}

.container_bottom{
    margin-top: 3rem;
}

.my_project{
    justify-content: center;
    align-items: center;
    

    .title_project>h1{
        font-size: 50px;
    }
}

.animat{
    opacity: 0;
    transform: translateX(-100px);
    animation: moveup 1.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.container_project{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    margin-top: 2%;

    .content_project{
        width: 30%;
        margin: 3%;
        cursor: pointer;
        background-color: rgb(29, 28, 28);
    }

    .content_project>img{
        height: 200px;
        margin: 5%;
        width: 90%;
    }

    .content_project>h3{
        font-size: 25px;
        margin: 5%;
        width: 90%;
        text-align: left;
    }

    .content_project>p{
        margin: 5%;
        width: 90%;
        text-align: left;
        font-size: 20px;
        color: rgb(161, 162, 162);
    }
}