.skill_container{
    width: 100%;
    height: 90rem;
}

.title_skill{
    margin-bottom: 7rem;
   
}

.title_skill h1{
    font-size: 4rem;
}

.my_skill img{
    width: 8rem;
    height: 8rem;
}

.skill_row{
    justify-content: center;
    align-items: center;
}

.my_skill{
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    margin: 6px;
    cursor: pointer;

    .name_skill{
        font-size: 20px;
    }
}

.my_skill:hover{
    background-color: rgb(39, 41, 39);
}

.my_project_container{
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
}

.my_project{
    height: 500px;
    background-color: rgb(16, 15, 15);
    margin: 2rem;
}

.my_project img{
    margin-top: 1rem;
    height: 150px;
    width: 100%;
}

.my_project h3{
    font-family: "Open Sans", sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
    text-align: left;
}

.my_project p{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: rgb(172, 173, 173);
}

.my_project_row{
    text-align: left;
}