//Tablet
@media only screen and (max-width: 768px) {
    .my_project{
        width: 30%;
        margin: 0 auto;
    }

    .my_project_deltail{
        margin-right: 2%;
    }
}

//Mobile
@media only screen and (max-width: 480px) {
    
}