
.container_about{
    padding-top: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: auto;
    padding-bottom: 5%;
    background-color: #c79f7a;
}

.title_about{
    font-family: Roboto, sans-serif;    
    font-size: 50px;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: left;
}

.about_row{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container_about_left{
    width: 40%;
}

.about{
    font-family: Roboto, sans-serif;    
    padding: 2%;
    position: relative;
    display: flex;
    color: #4d4c4c;
}


.favourite{
    padding: 2%;
    display: flex;
    width: 100%;
    height: auto;
}

.favourite_content{
    font-family: Roboto, sans-serif;    
    color: rgb(51, 176, 51);
    width: 100px;
}

.favourite_icon{
    margin-left: 20px;
}

.favourite_icon img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.favourite{
    font-family: Roboto, sans-serif;    
}

.dislike{
    padding: 2%;
    display: flex;
    font-family: Roboto, sans-serif;

    .dislike_title{
        color: red;
    }

    .dislike_content{
        margin-left: 15px;
    }
}

.container_about_right{
    width: 40%;
}

.container_about_right img{
    width: 250px;
    height: 250px;
    box-shadow:  10px 10px #000000;
}

.container_about hr{
    width: 90%;
    margin-top: 200px;
    border-color: black;
    height: 2px;
    background-color: black;
}
