body{
    margin: 0;
    padding: 0;
}

.container{
  position: relative;
    display: flex;
    background-color: #f9f9f9;
}

.navbar{
    background-color: #000000;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    float: left;
  }
  
  li {
    float: left;
    font-weight: bold;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(176, 176, 176);
  }
  
  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    margin-top: 0.1rem;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 6.7rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #777777;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .bar-icon{
    width: 28px;
    height: 28px;
    position: absolute;
    left: 28rem;
    top: 0.5rem;
    background-color: #ffffff;
    display: none;
  }

  @media (max-width: 1023px){
    .bar-icon{
      display: block;
    }
    .nav-pc{
      display: none;
    }
  }
  
  
  