.container_home{
    padding-top: 15rem;
    padding-bottom: 15rem;
    width: 100%;
    height: auto;
    background-color: #000;
}

.container_row_top{
    width: 100%;
    justify-content: left;
    align-items: center;
}

.my_name{
    width: 80%;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
}

.my_majors{
    width: 33%;
    color: #999;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}

.container_row_bottom{
    margin-top: 100px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
}

.my_face{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
}

.my_face img{
    border-radius: 10%;
    width: 150px;
    height: 150px;
}

.my_style{
    margin-top: 30px;
    color: #999;
    width: 65%;
    text-align: left;
}

.container_home hr{
    width: 80%;
    margin-top: 200px;
    border-color: black;
    height: 2px;
    background-color: black;
}

@media (max-width: 1023px){

    .container_home{
        display: block;
        justify-content: center;
        align-items: center;
    }

    .container_row_top{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .container_row_bottom{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .my_face{
        justify-content: left;
        align-items: center;
        width: 100%;
    }
    .my_face img{
        border-radius: 10%;
        width: 100px;
        height: 100px;
    }
    
    .my_style{
        color: #999;
        width: 65%;
        text-align: left;
    }
  }