
.container_home{
    background-color: #000;
    height: 600px;
    margin-top: 15rem;
}

.my_name>p{
    position: relative;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    width: 87%;
    color: #252839;
    -webkit-text-stroke: 3px #fff;
    text-transform: uppercase;
}

.my_name>p::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke: 0vw #fff;
    border-right: 5px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{    
        width: 100%;
    }
}

.my_major{
    text-align: left;
    color: #9f9e9e;
    font-size: 30px;
}

.avatar{
    text-align: left;
    width: 20%;
}

.avatar img{
    height: 150px;
    width: 150px;
    border-radius: 20px !important;
}

.row_top{
    margin-bottom: 100px;
}

.my_style{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 5px;
    color: #9f9e9e;
}

.row_bottom{
    display: flex;
}