
.container_home{
    background-color: #000;
    height: 600px;
    margin-top: 100px;
}

.my_name{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 70px;
}

.my_major{
    text-align: left;
    color: #9f9e9e;
    font-size: 30px;
}

.avatar img{
    height: 150px;
    width: 150px;
    border-radius: 20px !important;
}

.row_top{
    margin-bottom: 100px;
}

.my_style{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 5px;
    color: #9f9e9e;
}

.title{
    text-align: left;
    margin-bottom: 50px;
}

.title p{
    align-items: left;
}

.title hr{
    border: 1px solid green;
    background-color: green;
    float: left;
    width: 70%;
}

.education_left h1{
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

